<a href="https://colab.research.google.com/github/asadwaid12-cmd/ict_assignment/blob/main/assighnment03_adwaid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***ASSIGHNMENT 3***

**QUESTION 1**

In [ ]:
# Write a Python function to find the Max of three numbers

In [ ]:
max(12,33,45)

45

**QUESTION 2**

In [ ]:
#Write a Python function to sum all the numbers in a list.

In [ ]:
list1 = [18,12,30,10,7]
sum=0
for i in list1:
  sum=sum+i
print(sum)

77

**QUESTION 3**

In [ ]:
 #Python program to insert a number to any position in a list (Get the number
#to be inserted and position from the user)

In [ ]:
number = [23,44,55,77,99]

In [ ]:
number.insert(2,88)

In [ ]:
number

[23, 44, 88, 55, 77, 99]

**QUETION 4**

In [ ]:
dict1 = { "name": "Kelly", "age":25, "salary": 8000, "city": "New york"}
dict1['location'] = dict1.pop('city')
print(dict1)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

**QUESTION 5**

In [ ]:
#Write a Python program to change Bradâ€™s salary to 8500 in the following
#dictionary.
#sample_dict = {
 #'emp1': {'name': 'Jhon', 'salary': 7500},
 #'emp2': {'name': 'Emma', 'salary': 8000},
 #'emp3': {'name': 'Brad', 'salary': 5

In [ ]:
dict1 = {
    'list1': {'name': 'Jhon', 'salary': 7500},
    'list2': {'name': 'Emma', 'salary': 8000},
    'list3': {'name': 'Brad', 'salary': 5}
}

dict1['list3']['salary'] = 8500
print(dict1)

{'list1': {'name': 'Jhon', 'salary': 7500}, 'list2': {'name': 'Emma', 'salary': 8000}, 'list3': {'name': 'Brad', 'salary': 8500}}

**QUESTION 6**

In [ ]:
 #Write a program to copy elements 44 and 55 from the following tuple into a
#new tuple. Given: tuple1 = (11, 22, 33, 44, 55, 66)

In [ ]:
t1 = (11, 22, 33, 44, 55, 66)
t2 = t1[3:-1]
print(t2)

(44, 55)

**QUESTION 7**

In [ ]:
#Counts the number of occurrences of item 50 from a tuple tuple1 = (50, 10,
#60, 70, 50,83,567,50,81

In [ ]:
t1 = (50, 10, 60, 70, 50, 83, 567, 50, 81)
count_50 = t1.count(50)
print(f"The number of occurrences of 50 is: {count_50}")

The number of occurrences of 50 is: 3