<a href="https://colab.research.google.com/github/asadwaid12-cmd/ict_assignment/blob/main/Assignment01_adwaid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

In [ ]:
a = int(input("price of item 1:"))
b = int(input("quantity of item 1:"))
c = int(input("price of item 2: "))
d = int(input("quatity of item 2: "))
x = a*b+c*d
print("Total bill: ",x)

price of item 1:45
quantity of item 1:3
price of item 2: 30
quatity of item 2: 2
Total bill:  195

Question 2

In [ ]:
c = int(input("enter temp in celcius: "))
f = (c*9/5)+32
print("Temp in fahrenheit: ",f)

enter temp in celcius: 30
Temp in fahrenheit:  86.0

Question 3

In [ ]:
a = float(input("enter basic salary:"))
n = a+(0.20*a)+(0.10*a)
print("net salary:",n)

enter basic salary:20000
net salary: 26000.0

Question 4

In [ ]:
p = float(input("principal amount: "))
r = float(input("rate of interest: "))
t = float(input("time: "))
si = (p*r*t)/100
print("simple intrest: ",si)

principal amount: 10000
rate of interest: 5
time: 2
simple intrest:  1000.0

Question 5

In [ ]:
a = float(input("enter total minutes:"))
h = a/60
m = a%60
print(h,m)

enter total minutes:130
2.1666666666666665 10.0

Question 6

In [ ]:
a=float(input("enter the weight(w)"))
b=float(input("enter the height(h)"))
bmi=a/(h*h)
print("BMI: ",bmi)

enter the weight(w)60
enter the height(h)1.65
BMI:  22.03856749311295

Question 7

In [ ]:
a=float(input("enter the orginal price: "))
d=float(input("enter the discount: "))
n=a-(a*d/100)
print("Discount price: ",n)
#

enter the orginal price: 1200
enter the discount: 10
Discount price:  1080.0

Question 8

In [ ]:
a=float(input("enter side a: "))
b=float(input("enter side b: "))
c=float(input("enter side c: "))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("Area of triangle: ",area)
#

enter side a: 5
enter side b: 6
enter side c: 7
Area of triangle:  14.696938456699069

Question 9

In [ ]:
a=float(input("enter wall length in metres:"))
b=float(input("enter wall height in metres:"))
t=(a*b)
w=2*(1.5*1.20)
p=t-w
print("total area painted: ",p)
c=p*25
print("total painting cost: ",c)
#

enter wall length in metres:12
enter wall height in metres:8
total area painted:  92.4
total painting cost:  2310.0

Question 10

In [ ]:
a=float(input("enter the number units consumed: "))
b=(a*5.2)+100
print("Electricity bill:",b)
#

enter the number units consumed: 250
Electricity bill: 1400.0